*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.mainContainer {
    position: absolute;
    width: 95%;
    right: 20px;
    text-align: center;
}

#addTask {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 10px;
    flex-wrap: wrap;
}

#addTask div {
    position: relative;
}

.top input {
    width: 30%;
    margin-left:10px;
    margin-right:10px;
    height: 45px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    border: 2px solid #d1d3d4;
    padding: 12px;
    color: #111111;
    font-weight: 500;
    position: relative;
    border-radius: 5px;
}
#addTask input .checkbox{
    width:10px;
}

#addTask input #time {
    margin-left:10px;
    margin-right:10px;
    height: 45px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    border: 2px solid #d1d3d4;
    padding: 12px;
    color: #111111;
    font-weight: 500;
    position: relative;
    border-radius: 5px;
}

#addTask input:focus {
    outline: none;
    border-color: rgb(243, 198, 35);
}

.top {
    width: 100%;
    left: 200px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.input{
    width: 100%;
    left: 200px;
    display: flex;
    flex-direction: column;
}
.input div{
    width: 100%;
    left: 20px;
    display: flex;
    flex-direction: row;
}

.button-group {
    height: 70px;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.button-group button{
    width: 100%;
    margin-bottom:10px;
}

.top button {
    position: relative;
    float: left;
    width: 40%;
    padding: 11px;
    margin-bottom:10px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    background-color: #ecb80d;;
    border: none;
    color: #000000;
    cursor: pointer;
    outline: none;
}

#addTask #update {
    position: relative;
    float: left;
    width: 30%;
    padding: 11px;
    margin-bottom:10px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    background-color: #ecb80d;
    border: none;
    color: #000000;
    cursor: pointer;
    outline: none;
}

.top button:disabled {
    position: relative;
    float: right;
    width: 30%;
    padding: 11px;
    margin-bottom:10px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    background-color: #727272;
    border: none;
    color: #ffffff;
    cursor: pointer;
    outline: none;
}

#tasks {
    left: 430px;
    padding-top: 20px;
    margin-top: 10px;
    border-radius: 10px;
    width: 75%;
    position: relative;
}

#tasks .checked {
    background-image: linear-gradient(135deg, rgb(243, 198, 35) 25%, transparent 25%, transparent 50%, rgb(243, 198, 35) 50%, rgb(243, 198, 35) 75%, transparent 75%, rgb(0, 0, 0));
    background-size: 200px 200px;
    /* background-color: rgb(62, 62, 62); */
}

.task {
    position:relative;
    text-align: center;
    height: auto;
    margin-bottom: 8px;
    padding: 5px 10px;
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.task span {
    width:30%;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.task button {
    background-color:rgb(243, 198, 35);
    box-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
    color: #000000;
    height:40px;
    width: 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    outline: none;
}

#taskname {
    width: 80%;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#taskname p {
    color: #ffffff;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
    padding-left: 20px;
    text-align: left;
}
#taskname #title {
    font-weight: bold;
}

.timestamp p {
    position: absolute;
    text-align: center;
    right: 0;
    transform: translateY(-90px);
}